a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline
}
body{
  overflow: hidden;
  --btn-url: url(btn.png);
  --btn-height: 3.4rem;
  --btn-fontSize: 19px;
}
button{
  font-family: inherit;
  cursor: pointer;
  background-image: var(--btn-url);
  background-size: 100% 100%;
  color: #fffffd;
  font-size: var(--btn-fontSize);
  letter-spacing: .8px;
  border: 3.5px solid #272727;
}
button:hover{
  border-color: #fffffd;
}
a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
a:hover{
  text-decoration: underline;
}
.unselectable, img{
  -webkit-user-select: none; /* Chrome all / Safari all */  
  -moz-user-select: none;    /* Firefox all */  
  -ms-user-select: none;     /* IE 10+ */  
  user-select: none;         /* Likely future */  
}
main{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 5% auto 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section{
 margin: 0; 
}

.logo{
  width: 48rem;
  margin-bottom: 1rem;
}
.ooops {
  position: absolute;
  right: 0;
  bottom: 20px;
  color: #ff0;
  font-size: 18px;
  text-shadow: 2px 1px 0px #d4ce2286;
  will-change: transform;
  animation: pulse 0.5s ease-in-out infinite;
  transform: rotate(-15deg);
}
@keyframes pulse {
  50% {
    transform: scale(1.1) rotate(-15deg);
  }
}

main .btn-area{
  width: 55%;
  margin-top: 7%;
}
main .all{
  height: 100%;
  display: block;
}
main .all button{
  width: 100%;
  height: var(--btn-height);
  margin-bottom: 1rem;
}
main .half{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
main .half button, .sound_range_div{
  width: 48%;
  height: var(--btn-height);
}
.sound_range_div{
  position: relative;
  border: 3px solid #272727;
  background-image: var(--btn-url);
  background-size: 100% 100%;
}.sound_range_div:hover{border-color: #fffffd;}
.sound_range_div div, .sound_range_div input{
  position: absolute;
}
.sound_range_div div{
  cursor: default;
  font-size: var(--btn-fontSize);
  width: 100%;
  height: 100%;
  color: #fffffd;
  display: flex;
  justify-content: center;
  align-items: center;
}
#volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
}
#volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: var(--btn-height);
  background-color: #2a2a2aa9;
  cursor: pointer;
}
#volume_slider::-moz-range-thumb {
  width: 10px;
  height: var(--btn-height);
  background-color: #2a2a2aa9;
  cursor: pointer;
}
#lang_btn{
  width: var(--btn-height);
  height: var(--btn-height);
  padding: 3px;
  position: absolute;
  left: -3.6rem;
}
#lang_btn img{
  width: 100%;
  height: 100%;
}
.dirt{
  backdrop-filter: blur(5px);
}
#lang-div{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.detailed-title{
  margin: 2rem 0 1rem 0;
  font-size: 18px;
  color: #fffffd;
}
.language-list{
  color: #eee;
  width: 50%;
  margin: 1rem 0 .5rem 0;
  height: 65%;
  overflow-y: auto;
}
.language-list::-webkit-scrollbar{
  width: 12px;
  background-color: transparent;
}
.language-list::-webkit-scrollbar-thumb{
  background-color: #fff5;
  cursor: pointer;
}
.language-list::-webkit-scrollbar-thumb:hover{
  background-color: #fffa;
}
.language-list span{
  display: block;
  margin: 7px 0;
  border: 2px transparent solid;
  text-align: center;
  padding: 7px 0;
  cursor: pointer;
}
.language-list span:hover:not(#lang-unknown){
  border-color: #eee9;
}
.language-list span.clicked{
  border-color: #eee !important;
}
#lang-unknown{
  font-style: italic;
  color: #eee6;
  cursor: default;
}
.lang-btn-half{
  margin-top: 1rem;
  width: 48%;
  height: var(--btn-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lang-btn-half button{
  width: 48%;
  height: var(--btn-height);
}
.lang-hr{
  color: #eee;
  width: 50%;
}
#cd-page{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  width: 100%;
  display: none;
  height: 100%;
}
.cd-main{
  width: 60%;
  margin: 20% auto 0 auto;
}
.cd-title{
  margin-bottom: 3rem;
}
.cd-title span{
  color: #eee;
  display: block;
}
#cd_text_info{
  font-size: 20px;
  margin-bottom: .5rem;
}
.cd-buttons{
  width: 100%;
}
.cd-buttons button{
  display: inline-block;
  width: 30%;
  height: var(--btn-height);
  margin-left: 5px;
}
#server-page{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  display: none;
  height: 100%;
  --sv-btnarea-height: 7.5rem;
}
.sv_title{
  font-size: 18px;
  color: #fffffd;
  text-align: center;
  padding-top: 3%;
  margin-bottom: 1%;
}
.sv-div{
  height: calc(100% - 100px - var(--sv-btnarea-height));
  background-color: #00000078;
  padding: 10px;
}
.sv-list{
  width: 60%;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
}
.sv-item{
  --sv-item-height: 5rem;
  --sv-state-size: 5rem;
  height: var(--sv-item-height);
  display: flex;
  align-items: center;
  border: #0000 solid 2px;
  padding: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}
.sv-item:hover{
  border: #eee6 solid 2px; 
}
.sv-item.clicked{
  border: #eee solid 2px;
  cursor: default; 
}
.sv-item span, .sv-item p{
  color: #eee; 
}
.sv-title-img{
  width: var(--sv-item-height);
  height: var(--sv-item-height);
  margin-right: 1rem;
}
.sv-item-info{
  width: calc(100% - var(--sv-state-size) - var(--sv-item-height) - 1rem);
}
.sv-item-info p {
  margin-bottom: 5px;
}
.sv-item-state{
  width: var(--sv-state-size);
  height: var(--sv-state-size);
}
.sv-item-online{
  display: inline-block;
  margin-top: 5px;
  text-align: right;
}
.sv-item-sp{
  width: 3rem;
  height: 3rem;
}
#server-page .btn-area{
  width: 60%;
  margin: 1rem auto 0 auto;
  display: block;
  height: var(--sv-btnarea-height);
}
#server-page .btn-area button, .sv_refresh_div{
  width: 48%;
  height: var(--btn-height);
  margin-bottom: 5px;
}


@media (max-width: 768px) {
  main .btn-area {
    width: 60%;
  }
  .cd-main {
    width: 80%;
    margin: 40% auto 0 auto;
  }
  .cd-title {
    margin-bottom: 3rem;
  }
  .cd-title span {
    color: #eee;
    display: block;
  }
  #cd_text_info {
    font-size: 20px;
    margin-bottom: .5rem;
  }
  .cd-buttons {
    width: 100%;
  }
  .cd-buttons button {
    display: inline-block;
    width: 100%;
    height: 3rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    width: 25rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  main .btn-area {
    width: 90%;
  }
  .cd-main {
    width: 70%;
    margin: 30% auto 0 auto;
  }
  .cd-title {
    margin-bottom: 2rem;
  }
  .cd-title span {
    color: #eee;
    display: block;
  }
  #cd_text_info {
    font-size: 18px;
    margin-bottom: .5rem;
  }
  .cd-buttons {
    width: 100%;
  }
  .cd-buttons button {
    display: inline-block;
    width: 48%;
    height: 2.7rem;
    margin-left: 1%;
    margin-bottom: 1rem;
  }
}