a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline
}
button{
  font-family: inherit;
  cursor: pointer;
  background-image: url(btn.png);
  background-size: 100% 100%;
  color: #fffffd;
  font-size: 16px;
  letter-spacing: .5px;
  border: 3px solid #545454;
}
button:hover{
  border-color: #fffffd;
}
a{
  text-decoration: none;
}
.unselectable {
  -webkit-user-select: none; /* Chrome all / Safari all */  
  -moz-user-select: none;    /* Firefox all */  
  -ms-user-select: none;     /* IE 10+ */  
  user-select: none;         /* Likely future */  
}

main{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 5% auto 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 45rem;
  margin-bottom: 1rem;
}
main .btn-area{
  width: 50%;
  margin-top: 5%;
}
main .all{
  height: 100%;
  display: block;
}
main .all button{
  width: 100%;
  height: 2.62rem;
  margin-bottom: 1rem;
}
main .half{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  position: relative;
}
main .half button, .sound_range_div{
  width: 48%;
  height: 2.6rem;
}
.sound_range_div{
  height: 2.3rem;
  position: relative;
  border: 3px solid #545454;
  background-image: url(btn.png);
  background-size: 100% 100%;
}.sound_range_div:hover{border-color: #fffffd;}
.sound_range_div div, .sound_range_div input{
  position: absolute;
}
.sound_range_div div{
  cursor: default;
  width: 100%;
  height: 100%;
  color: #fffffd;
  display: flex;
  justify-content: center;
  align-items: center;
}
#volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
}
#volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 2.3rem;
  background-color: #2a2a2aa9;
  cursor: pointer;
}
#volume_slider::-moz-range-thumb {
  width: 10px;
  height: 2.3rem;
  background-color: #2a2a2aa9;
  cursor: pointer;
}
#lang_btn{
  width: 2.6rem;
  height: 2.6rem;
  padding: 3px;
  position: absolute;
  left: -3.6rem;
}
#lang_btn img{
  width: 100%;
  height: 100%;
}
.dirt{
  background-image: url(Dirt_background_JE2.png);
}
#lang-div{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.detailed-title{
  margin: 2rem 0 1rem 0;
  font-size: 18px;
  color: #fffffd;
}
.language-list{
  color: #eee;
  width: 50%;
  margin: 1rem 0 .5rem 0;
  height: 65%;
  overflow-y: auto;
}
.language-list::-webkit-scrollbar{
  width: 12px;
  background-color: transparent;
}
.language-list::-webkit-scrollbar-thumb{
  background-color: #fff5;
  cursor: pointer;
}
.language-list::-webkit-scrollbar-thumb:hover{
  background-color: #fffa;
}
.language-list span{
  display: block;
  margin: 7px 0;
  border: 2px transparent solid;
  text-align: center;
  padding: 7px 0;
  cursor: pointer;
}
.language-list span:hover{
  border-color: #eee9;
}
.language-list span.clicked{
  border-color: #eee;
}
.lang-btn-half{
  margin-top: 1rem;
  width: 48%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lang-btn-half button{
  width: 48%;
  height: 2.3rem;
}
.lang-hr{
  color: #eee;
  width: 50%;
}
#cd-page{
  background-image: url(Dirt_background_JE2.png);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  width: 100%;
  display: none;
  height: 100%;
}
.cd-main{
  width: 60%;
  margin: 20% auto 0 auto;
}
.cd-title{
  margin-bottom: 3rem;
}
.cd-title span{
  color: #eee;
  display: block;
}
#cd_text_info{
  font-size: 20px;
  margin-bottom: .5rem;
}
.cd-buttons{
  width: 100%;
}
.cd-buttons button{
  display: inline-block;
  width: 30%;
  height: 2.6rem;
  margin-left: 5px;
}