/* 最外层容器样式 */
#outer-container {
background-color: #c6c6c6;
margin: 0 auto;
width: 400px; /* 4:3比例，宽度设为400px，高度将为300px */
height: 300px;
padding: 5px; /* 表格与外部大边框之间的间距 */
box-sizing: border-box;
}
/* 标题盒子样式 */
.chest-title {
margin-bottom: 5px;
}
.chest-title span {
font-size: 18px;
}
/* 表格样式 */
#chest-grid {
width: 100%;
height: calc(100% - 25px);
background-color: #c9c9c9;
}
#chest-grid td {
width: 11%; /* 9列等宽 */
height: 16.6%; /* 6行等高 */
border: 2px solid;
border-color: #373737 #FFF #FFF #373737; /* 内边框为深灰色 */
background: #a5a5a5 no-repeat center center / 32px 32px; /* 边框内部背景为灰色 */
box-sizing: content-box;
position: relative;
}
#chest-grid td::before{
  bottom: -2px;
  left: -2px;
}
#chest-grid td::after {
  top: -2px;
  right: -2px;
}
#chest-grid td::before, #chest-grid td::after {
  content: "";
  position: absolute;
  background-color: #8B8B8B;
  height: 2px;
  width: 2px;
  pointer-events: none;
}
#chest-grid td:hover {
background-color: #a0a0a0;
}
#chest-grid td:has(img) {
cursor: pointer;
}
#chest-grid td img {
max-width: 100%;
max-height: 100%;
display: block;
margin: 0 auto;
}
/* 确保表格单元格均匀分布 */
#chest-grid tr {
height: 16.6%; /* 6行，每行占1/6 */
}
